/* base styles */
:root {
  --color-bg: #3a3845;
  --color-bg-variant: #b4846c;
  --color-primary: #c69b7b;
  --color-primary-variant: rgb(229, 178, 153);
  --color-light: #f7ccac;
  --color-white: #f6e7d8;

  --transition: all 400ms ease;

  --container-width-lg: 45%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  background: var(--color-bg);
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-light);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid var(--color-bg-variant);
  transition: var(--transition);
  margin: 0.25rem;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

.bills-container {
  color: var(--color-white);
  width: var(--container-width-lg);
  margin: 0 auto;
  margin-top: 5rem;
}

@media screen and (max-width: 1024px) {
  .bills-container {
    width: var(--container-width-md);
  }
}
/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  .bills-container {
    background: var(--color-bg-variant);
    width: var(--container-width-sm);
  }
}
